:root {
  --accent: rgb(50, 200, 255);
  --accent-alpha-70: rgba(50,200,255,0.7);
  --accent-alpha-20: rgba(50,200,255,0.35);
  --background: #1D212C;
  --color: #E0E6F0;
  --border-color: rgba(255, 255, 255, .1);
}

